<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fd.ourapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 写文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 存储卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--添加操作闪光灯的权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--添加操作震动器的权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--支付宝相关权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- carlife-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />


    <application
        android:name="com.hangon.saying.util.Location"
        android:allowBackup="true"
        android:icon="@mipmap/zm1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105280089" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wEz6gff00EiMWZgjYdV9mjQyCaISnGlM" />

        <!--微信分享回调-->
        <activity
            android:name="com.hangon.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.hangon.video.CkRecode"></activity>
        <activity
            android:name="com.hangon.user.activity.WelcomeActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        </activity>

 <activity android:name="com.hangon.maintenace.CarMiantenance"
     >

 </activity>
        <activity android:name="com.hangon.maintenace.CarMaindetails">

        </activity>
        <activity
            android:name="com.hangon.user.activity.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.hangon.user.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.hangon.home.activity.HomeActivity"
            android:theme="@android:style/Theme.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.hangon.fragment.userinfo.ClipImageActivity"></activity>

        <activity android:name="com.hangon.fragment.userinfo.UserIconActivity">

        </activity>

        <activity android:name="com.hangon.fragment.userinfo.UpdateUserActivity">

        </activity>

        <activity android:name="com.hangon.carInfoManage.activity.AddCarMessageActivity">

        </activity>

        <activity
            android:name="com.hangon.map.activity.MapMainActivity"
            android:launchMode="singleInstance">

        </activity>


        <activity android:name="com.hangon.map.activity.GasSiteDetailsActivity">

        </activity>
        <activity android:name="com.hangon.carInfoManage.activity.AlterCarMessageActivity">

        </activity>

        <activity android:name="com.hangon.carInfoManage.activity.ScanCarMessageActivity">

        </activity>


        <activity
            android:name="com.hangon.map.activity.BestRouteActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustPan|stateVisible"></activity>

        <activity android:name="com.hangon.carInfoManage.activity.SetCarInfoActivity">

        </activity>

        <activity
            android:name="com.hangon.weizhang.activity.MainActivity">

        </activity>

        <activity android:name="com.hangon.weizhang.activity.ShortNameList"></activity>
        <activity android:name="com.hangon.weizhang.activity.ProvinceList"></activity>
        <activity android:name="com.hangon.weizhang.activity.CityList"></activity>
        <activity android:name="com.hangon.weizhang.activity.WeizhangResult"></activity>

        <service android:name="com.cheshouye.api.client.WeizhangIntentService" />

        <activity
            android:name="com.hangon.order.activity.MainOrderActivity"
            android:launchMode="singleInstance">

        </activity>
        <activity android:name="com.hangon.order.activity.EditOrder" />

        <activity android:name="com.hangon.weather.WeatherActivity"></activity>
        <activity android:name="com.hangon.weather.SelectCity"></activity>

        <!--支付宝支付页面-->
        <activity android:name="com.hangon.alipay.PayDemoActivity"></activity>

        <!--支付成功-->
        <activity android:name="com.hangon.alipay.PaySuccess"></activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- alipay sdk end -->

        <!--智能老司机朋友圈-->
        <activity
            android:name="com.hangon.saying.activity.TestPicActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity
            android:name="com.hangon.saying.activity.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="com.hangon.saying.activity.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="com.hangon.saying.activity.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.hangon.saying.util.TestSensorActivity"></activity>
        <activity android:name="com.hangon.saying.util.ViewPagerTestActivity"></activity>
        <activity android:name="com.hangon.saying.viewPager.MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name="com.hangon.fragment.order.ZnwhService"></service>
        <service android:name="com.hangon.fragment.music.MusicService"></service>
        <service android:name="com.hangon.weather.WeatherService"></service>
        <service android:name="com.hangon.video.VideoService"></service>
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>
